name: Docker Image CI

on: [push]

jobs:

  build:

    runs-on: ubuntu-latest
    steps:
    - name: Build the docker-compose stack
      run: docker-compose up -f docker-compose.yml
    - name: Check running containers
      run: docker ps -a
    - name: Check logs
      run: docker logs
